h2{
    font-family: CervoNeueConBold;
}

span{
    background-color: black;
}
.Link{ 

    color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(255, 255, 255);
}

div.fondoazul{
    background-color:#179bc6;
     border: 1px;
      margin:auto;
    padding:250px;
}

